---
import Layout from "~/layouts/PageLayout.astro";

import { META } from "~/config.mjs";

import PomodoroTimer from "~/components/core/PomodoroTimer";
---

<Layout meta={META}>
  <main>
    <PomodoroTimer client:load />
  </main>
</Layout>
