---
import Layout from "~/layouts/PageLayout.astro";
import SignInPage from "~/components/core/SignInPage";

import { META } from "~/config.mjs";
---

<Layout meta={META}>
    <main>
        <SignInPage client:load />
    </main>
</Layout>
