---
import Layout from "~/layouts/PageLayout.astro";
import SignUpPage from "~/components/core/SignUpPage";

import { META } from "~/config.mjs";
---

<Layout meta={META}>
    <main>
        <SignUpPage client:load />
    </main>
</Layout>
