---
import Layout from "~/layouts/PageLayout.astro";
import TaskManagerComponent from "~/components/core/TaskList";

import { META } from "~/config.mjs";
---

<Layout meta={META}>
    <main>
        <TaskManagerComponent client:load />
    </main>
</Layout>
